h1  {
        font-family: "serif", sans-serif;
        text-align: center;
    }

body {
       
        background-color:darkolivegreen;
    }

div {
        background-color: gainsboro;
     
    }

.container {
    display: flex;
    height: 80%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    background-color: grey;
}

.container div {
    display: flex;
    height: 10%;
    flex-flow: column wrap;
    justify-content: center;
    
    background-color: greenyellow;
    margin: 2px 2px 2px 2px;
    border-style: double;
    border-color: darkslateblue;
    text-align: center;
    padding: 20px;
}

.container h1 {
    text-align: center;
}


#MainInfo {
    height:80%; 
    font-size: 10px;
    text-align: left
}



